/* headers */
@font-face {
	font-family: "Neuropolitical RG";
	src: url("neuropolitical rg.ttf");
	font-display:swap; 
}

h1,header,h2,.navbar,h3
	{ font-family: "Neuropolitical RG",Helvetica, sans-serif; }
	
/* initial navigation */
#headnav { 
	background: url('/img/ponyo.png') no-repeat 65% 52%;
	background-size: auto 150px;
}

#headnav .nav-link { 
	display:inline-block; 
	border-bottom:thick rgb(255,255,255,0) solid; 
	color:#0056b3;
}

.fa-external-link-square-alt {
	vertical-align:super;
	font-size:x-small;
}

/* hamburger */
.navbar-toggler { background-color:#fff; }
	
/* cards */
.text-info { font-variant: small-caps; }

.card h3 { font-size: large; }

.card.shop {
	background-repeat: no-repeat;
	background-position: center right -40px;
	background-size: 250px; 
	border-color:#ddd;
}

.card.shop .card-body {
	background-image:linear-gradient(to left,rgba(255,255,255,0),120px,rgb(255,255,255),200px,#fff);
}

.card#etsy { background-image:url('/img/shop/square.jpg'); }
.card#displate { background-image:url('/img/shop/displate.jpg'); }
.card#teepublic { background-image:url('/img/shop/teepublic.jpg'); }
.card#myanimix { background-image:url('/img/shop/myanimix.jpg'); }

@media (max-width:360px) {
	.card.shop { background-image:none !important; }
}

@media (max-width:768px) {
	#headnav { 
		background-size:auto 110px;
		background-position: right -50px top -15px;
	}
}

/* accessability */
.text-info { color:#0c616e!important; }