@media (prefers-color-scheme: dark) {
	body { background:#222; color:#bbb; }
	.bg-white { background-color:#222!important; }

	/* initial navigation */
	#headnav { background-image:none; }
	
	/* hamburger */
	.navbar-toggler {
		background-color:#333;
		color:#ccc !important;
	}
	.navbar-toggler[aria-expanded="true"] {
		background-image:linear-gradient(to bottom,#444,#333);
		color:#999 !important;
	}
	.collapsing {
		transform: translateZ(0);
		transition:0.3s;
	}

	/* cards */
	.card.shop .card-body 
	{
		background-image:linear-gradient(to left,rgb(13,13,13,0),120px,rgb(13.3,13.3,13.3),200px,#222);
	}
	.card.shop { border-color:#333; }
	
	@media (min-width:576px) {
		.card.shop:not(#myanimix) .card-body {
			background-image:linear-gradient(rgb(0,0,0,0),150px,#222,215px,#222);
		}
	}
	@media (min-width:768px) {
		.card.shop#myanimix .card-body {
			background-image:linear-gradient(rgb(0,0,0,0),150px,#222,215px,#222);
		}	
	}
	@media (max-width:360px) {
		.card.shop {
			background-image:none !important;
			background-color:#222;
		}
	}
	
	/* footer */
	.text-dark { color:#bbb!important; }
	.bg-dark { background-color:#111!important; }

	/* accessibility */
	#headnav .nav-link { color:#007bff; }
	.text-info { color: #17a2b8; }
}
